/* ============================== */
/*              FONTS             */
/* ============================== */
@import url('https://fonts.googleapis.com/css?family=Titillium+Web:700|Raleway|Orbitron|Carter+One|Ubuntu');

/* ============================== */
/*            PARRALAX            */
/* ============================== */
.parrallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
.headerSection {
    height: 100vh
  }
.titleBar {
    position: absolute;
    bottom: 0px;
    background: rgba(14, 13, 13, 0.8);
    width: 100%;
    border-top: 2px solid rgba(255, 255, 255,0.95);
    border-bottom: 2px solid rgba(255, 255, 255,0.95)
  }
.titleBar h1 {
    font-size: 4vw
  } 
.transp {
    background-color:rgba(141, 141, 141, 0.4);
  }
.introBox {
    border-radius: 15px;
    border: 1px solid #fff;
  }